<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-fab *ngIf="token" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
    
  <ion-grid>
    <ion-row>
      <ion-col size-sm="12" size-md="6" size-lg="4" *ngFor="let user of users">
        <ion-card>
          <ion-card-header text-center>
            <ion-card-title>{{ user.nick }}</ion-card-title>
            <ion-card-subtitle>{{ user.name }}</ion-card-subtitle>
          </ion-card-header>
          <ion-item>
            <ion-label>Email: {{ user.email }}</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
