<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header text-center>
      <ion-card-title>Criar Usuário</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="forms" (ngSubmit)="onSubmit()">
        <ion-item> 
          <ion-label position="floating">Nome Usuário</ion-label>
          <ion-input type="text" formControlName="nick" readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nome Completo</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-button expand="full" type="submit" [disabled]="forms.invalid">Enviar</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
